<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DORA.Properties.Settings.DB_A4DFA8_doraConnectionString"
            connectionString="Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4DFA8_dora;Persist Security Info=True;User ID=DB_A4DFA8_dora_admin;Password=1616392b"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>